# Data Science Tools and Ecosystem

In this Notebook, Data Science Tools and Ecosystem are summarized

#### Objectives:
 * List popular languages for Data Science.
 * List popular libraries for Data Science.
 * List popular Data Science Tools.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Numpy
3. Pandas
4. Scikit-Learn

## Data Science Tools

 | Data Science Tools |
 | ------------------ |
 | Jupyter Notebook   |
 | Rstudio            |
 | Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60.
print(200/60,"hours")

3.3333333333333335 hours

## Author 
Alan Saju